*{
	margin:0px;
	padding:0px;
}
#o{
	width: 750px;
	height: 500px;
}
.o1{
	width: 45px;
	line-height: 40px;
	float: left;
}
.o2{
	width: 150px;
	float: left;
	line-height: 43px;
	color: black;
}
.s1:hover{
	color:#5accee;
	text-decoration: underline;
}

#o3{
	float: right;
	width: 150px;
}
.anh{
	padding-left: 10px;
}